<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <link href="/stylesheets/selectCourse.css" rel="stylesheet">     
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/js/selectCourse.js"></script>
        <script src="/js/common.js"></script> 
    </head>
    <body class="global-vi" lang="vi" style="overflow: auto;" data-twttr-rendered="true">
        <div id="topbar">
            <header class="topbar topbar-blue">
                <div class="container">
                    <a class="topbar-brand navigate-home track-click white " href="/"></a>
                    <div class="topbar-right" style="">
                        <div  class="dropdown topbar-username" data-toggle="dropdown">
                            <div id="dropdown" class="" >
                                <a class="avatar avatar-small " title="phongndse02965" href="/phongndse02965">
                                    <img src="https://s3.amazonaws.com/duolingo-images/avatar/default_2/large">
                                    <span class="ring"></span>
                                </a>
                                <span class="name">phongndse02965</span>
                                <span class="icon icon-arrow-down-white"></span>
                            </div>
                            <ul class="dropdown-menu arrow-top" aria-labelledby="dLabel" role="menu" style="display: none;">
                                <li>
                                    <a href="/phongndse02965">Hồ sơ của bạn</a>
                                </li>
                                <li>
                                    <a id="header_userdrop_logout" class="track-click">Đăng xuất</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="logged-out-message" class="logged-out-message"></div>
                </div>
            </header>
        </div>
        <div id="app">
<main class="main-standard">
<section class="page-main">
<h1 class="course-list-headline">Các khoá học tiếng Nhật trên JLS</h1>
<hr>
<div id="phase-1" class="course-cards-carousel carousel slide" data-total="17">
<div class="carousel-inner">
<div class="course-card-row item active" data-page="0">

<div class="course-card-container">
<div class="course-card">
<div class="flags-formation">
<div class="from-flag flag flag-svg-medium flag-vi"></div>
<div class="learning-flag flag flag-svg-xlarge flag-ja"></div>
</div>
<div class="title">
<div class="learning-title">Nhật sơ cấp 1</div>
</div>
<div class="stats">
<div class="phase">
<canvas class="pie" height="26" width="26" data-progress="95.08313539192399" style="width: 26px; height: 26px;"></canvas>
</div>
<div class="contrib">
<span class="stat"></span>
</div>
</div>
<div class="stats">
<div class="phase">Sửa</div>
<div class="contrib">Xóa</div>
</div>
<a href="/courses/tr/en/status">
<span></span>
</a>
</div>
</div>
</div>
</div>
</div>
<hr>
<div class="course-incubator-ad">
<span class="course-list-illustration"></span>
<h2 class="bold">Title giớ thiệu ở chỗ này này</h2>
<p style="margin-bottom: 30px;">Lời giới thiệu ở đây</p>
<a class="btn btn-blue btn-lg" target="_blank" href="">Tạo khoá học mới</a>
</div>
</section>
</main>
</div>
    </body>
</html>