.splash-2014 {
    
    height: 100%;
    min-width: 1100px;
}
body {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("/image/backgr.png");
    color: #333;
    font: 500 15px/20px "museo-sans-rounded",sans-serif;
    background-position: 204px 32px;
    background-repeat: no-repeat;
}
*, *:before, *:after {
    box-sizing: border-box;
    outline: medium none;
}
*::-moz-placeholder {
    color: #b9b9b9;
    font-weight: 300;
}
.topbar-blue-dark.dark-theme {
    background-color: rgba(11, 65, 118, 0.8);
    background-image: linear-gradient(to bottom, #0b4176, rgba(11, 65, 118, 0.5));
    background-repeat: repeat-x;
}
.topbar.no-shadow {
    box-shadow: none;
}
.topbar-blue-dark {
    color: #fff;
    height: auto;
    min-height: 70px;
}
.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}
.topbar .container:before, .topbar .container:after {
    content: "";
    display: table;
    line-height: 0;
}
.topbar .container:after {
    clear: both;
}
.topbar-blue-dark .container {
    width: 100%;
}
.topbar .container {
    margin: 0 auto;
    max-width: 1140px;
    min-width: 1020px;
    padding: 0 40px;
    position: relative;
}
.topbar-brand.white {
    background-position: -187px -21px;
}
.topbar-brand {
    float: left;
    height: 46px;
    margin: 18px 0 0;
    text-indent: -10000px;
    width: 158px;
    background-image: url("/image/slogan.png");
}
a {
    color: #999;
    text-decoration: none;
}
right:before, .topbar-right:after {
    content: "";
    display: table;
    line-height: 0;
}
.topbar-right:before, .topbar-right:after {
    content: "";
    display: table;
    line-height: 0;
}
.topbar-right:after {
    clear: both;
}
.topbar-right {
    float: right;
    margin: 15px -10px 0 0;
}
.topbar-buttons {
    float: left;
    padding: 0 0 0 10px;
    position: relative;
}
.relative {
    position: relative;
}
.topbar-blue-dark.dark-theme .sign-in-btn {
    color: #0b4176;
}
.splash-2014 .sign-in-btn:hover {
    background-color: #fff;
    border-color: #fff;
    opacity: 0.9
}
.btn-white {
    background: none repeat scroll 0 0 #fff;
    border-color: #fff;
}
.btn {
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    padding: 8px 20px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn.sign-in-btn.btn-white {
    height: 41px;
    margin-left: 34px;
    width: 121px;
}
.popover.login-popover:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent #fff;
    border-image: none;
    border-style: solid;
    border-width: 10px;
    content: "";
    display: block;
    height: 0;
    left: auto;
    position: absolute;
    right: 30px;
    top: -19px;
    width: 0;
}
.popover.login-popover {
    padding: 20px;
}
.popover {
    background-clip: padding-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    position: absolute;
    text-align: left;
    white-space: normal;
    z-index: 100;
}
ul, ol {
    list-style: outside none none;
    margin: 0;
}
.popover.login-popover li:first-child {
    padding-top: 0;
}
.textarea-small, .input-small[type="text"], .input-small[type="password"], .input-small {
    padding: 2px 10px;
}
input[type="text"], input[type="password"], .fake-input {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05) inset;
    color: #4b4b4b;
    display: block;
    font: 500 15px/24px "museo-sans-rounded",sans-serif;
    text-align: left;
}
.textarea-block, .input-block {
    width: 100%;
}
button, input, select, textarea {
    margin: 0;
}
.popover.login-popover li {
    padding-top: 10px;
}
input.btn-block[type="submit"], input.btn-block[type="reset"], input.btn-block[type="button"] {
    width: 100%;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
.btn-block {
    display: block;
    padding-left: 0;
    padding-right: 0;
}
.btn-small {
    font-size: 13px;
}
.btn-green-light {
    background: none repeat scroll 0 0 #96d600;
    border-color: #96d600;
    color: #fff;
}
.btn {
    border-radius: 100px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

button, input, select, textarea {
    font-family: inherit;
    margin: 0;
}
.popover.login-popover li.center {
    color: #999;
    text-align: center;
}
input.btn-block[type="submit"], input.btn-block[type="reset"], input.btn-block[type="button"] {
    width: 100%;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
.btn-block {
    display: block;
    padding-left: 0;
    padding-right: 0;
}
.btn-small {
    font-size: 13px;
}
.btn-green-light {
    background: none repeat scroll 0 0 #96d600;
    border-color: #96d600;
    color: #fff;
}
.btn {
    border-radius: 100px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
button, input, select, textarea {
    font-family: inherit;
    margin: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
    outline: medium none;
}
*::-moz-placeholder {
    color: #b9b9b9;
    font-weight: 300;
}
