body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.item {
  position: relative;
  border: thin solid #CCC;
  padding: 5px;
  margin: 5px;
  width: 200px;
  float: left;
  min-height: 100px;
}

.item-delete-button {
  position: absolute;
  top: 2px;
  right: 2px;
}

